
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.top_bar {
display: flex;
flex-direction: row;
height: 50px;
width: 100%;
background-color: rgb(35, 206, 107);

}

.website_name {
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 100%;
width: 200px;
align-content: center;
justify-content: center;

}

.content {
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 800px;
width: 100%;
justify-content: center;
align-content: flex-end;
background-color:blanchedalmond;
gap: 25px 25px;
}

.carousel {
height: 300px;
width: 400px;
background-color: aquamarine;
border: 5px solid rgb(255, 255, 255);

}

h1 {
color: aliceblue;
font-family: 'Common Pixel', sans-serif;
                                                
}

.meny_bar {
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
gap: 50px;
height: 50px;
width: 100%;
background-color: rgb(0, 129, 167);
}

.button {
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 100%;
width: 100px;
align-content: center;
justify-content: center;
}